<h2>Добавить новое слово в словарь</h2>
<br>

<h3 class="text-center font-weight-bold">ö  ä  ü  ß</h3>

<form action="/add" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">Слово</label>
    <input name="word[word]" type="text" class="form-control" id="exampleInputEmail1" autocomplete="off" aria-describedby="emailHelp" placeholder="Введите новое слово">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Перевод</label>
    <input name="word[translate]" type="text" class="form-control" autocomplete="off" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Введите перевод">
  </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Тема</label>
      <select name="word[thema] class="form-control" id="exampleFormControlSelect1">
        <option>все</option>
        <option>Kaufen</option>
      </select>
    </div>

    <div class="form-group">
      <label for="exampleFormControlSelect1">Уровень</label>
      <select name="word[level] class="form-control" id="exampleFormControlSelect1">
        <option value="a1">A1</option>
        <option value="a2">A2</option>
        <option value="b1">B1</option>
      </select>
    </div>

  <div class="form-group" hidden="true">
    <input name="word[rating]" type="integer" class="form-control" autocomplete="off" id="exampleInputEmail1" aria-describedby="emailHelp" value=0>
  </div>
  <button type="submit" class="btn btn-primary">Добавить</button>
</form>
