<h2 class="text-center font-weight-bold">
  Запомни : <%=@answer["word"]%> = <%=@answer["de"]%>
</h2>
<br>

<a href="/learn" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Weiter</a>
