<h2 class="text-center font-weight-bold">
  Запомни : <%=@word_by_id["word"]%> = <%=@word_by_id["translate"]%>
</h2>
<br>

<a href="/learn" class="btn btn-primary btn-lg btn-block" role="button" aria-pressed="true">Weiter</a>
