
<form action="/learn" method="post">

  <% @word.each do |item|%>
    <h2 class="text-center font-weight-bold"><%= item.word %></h2>

    <div class="form-group" hidden="true">
      <input name="answer[de]" class="form-control" value=<%= item.translate %>>
      <input name="answer[word]" class="form-control" value=<%= item.word %>>
      <input name="answer[id]" class="form-control" value=<%= item.id %>>
    </div>
  <% end %>

    <div class="form-group">
      <label for="exampleInputPassword1">Перевод</label>
      <input name="answer[ru]" class="form-control" autocomplete="off" placeholder="Введите перевод">
    </div>
    <button type="submit" class="btn btn-primary">Готово</button>

</form>
